<div class="row">
  <div class="col-md-6 shadow-sm p-3 mb-5 bg-body rounded">
    <h6 class="lead text-center">AI Generated Response</h6>

    <% @prompts.each do |prompt| %>
      <div class="p-3 m-3">
        <p class="my-3 text-secondary">
          Prompt no. <%= prompt.id %>
        </p>
        <p class="my-3">
          <code><%= prompt.input %></code>
        </p>
        <p class="my-3 text-secondary">
          AI response hash or string:
        </p>
        <code><%= JSON.pretty_generate(prompt.message_content) %></code>
        <p class="my-3 text-secondary">
          AI response object:
        </p>
        <code><%= JSON.pretty_generate(prompt.output) %></code>
      </div>
    <% end %>
  </div>


  <div class="col-md-6 text-dark shadow-sm p-3 mb-5 rounded">
    <h6 class="lead text-center">Application Action</h6>
  </div>
</div>
