<div class="container">
  <%= simple_form_for :prompt, url: prompts_path, defaults: { input_html: { class: 'form-group w-100 p-2 m-2' } } do |f| %>
    <%= f.input :text, as: :text, label: false, placeholder: t('prompt_service.form') %>
    <%= f.button :submit, 'Generate', class: 'btn btn-light m-2' %>
  <% end %>
</div>

<%= render 'index' %>
