<div class="card-header">
  <h6 class="lead text-center pt-2">Rails Application Action</h6>
</div>

<div class="card-body">

  <% @action_prompts.each do |prompt| %>
    <div class="p-3 m-3">
      <p class="my-3 text-secondary">
        Prompt: <code><%= prompt.id %></code>
      </p>
      <p class="my-3">
        <code><%= prompt.actionable&.inspect || prompt.action %></code>
      </p>
    </div>
  <% end %>

</div>
