<div class="card-header">
  <h6 class="lead text-center pt-2">Rails Application Action</h6>
</div>
<div class="card-body">
  <%# @prompts.each do |prompt| %>
  <%# 'work in progress dummy data' %>
    <div class="p-3 m-3">
      <p class="my-3 text-secondary">
        Prompt 95
      </p>
      <p class="my-3">
        <code>Client created</code>
      </p>
      <p class="my-3 text-secondary">
        Object:
      </p>
      <p class="my-3">
        <code>{ "id": "12", "first_name": "Sarah", "middle_name": "Jane", "last_name": "Smith", "phone_number": "", "date_of_birth": "02/10/1987", "nationality": "", "national_number": "", "gender": "" }</code>
      </p>
<!--      <p class="my-3 text-secondary">-->
<!--        AI response hash or string:-->
<!--      </p>-->
<!--      <code><%#= JSON.pretty_generate(prompt.message_content) %></code>-->
<!--      <p class="my-3 text-secondary">-->
<!--        AI response object:-->
<!--      </p>-->
<!--      <code><%#= JSON.pretty_generate(prompt.output) %></code>-->
    </div>
  <%# end %>

</div>
